@{
    ViewBag.Title = "UserProfile";
}

<h2>User Profile</h2>
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        <table>
            <tr>
                <th>Number: </th>
                <th>@Session["users_number"].ToString()</th>
            </tr>
           <tr>
                <td>Name: </td>
                <td>@Session["users_name"].ToString()</td>
            </tr>
            @*<tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>

            </tr>
            <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>

            </tr>
            <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>

            </tr>
            <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>

            </tr>
            <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>

            </tr>*@
        </table>
    </div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
